<div class="jumbotron center">
	<h1>Welcome to my app!</h1>
	<p>This app was made as part of a class in learning Ruby On Rails.</p>
	<p>
	<%= link_to "Log In", new_user_session_path, class: "btn btn-default btn-lg" %>
	<!-- <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %> -->
	</p>  
</div>